nav {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    background-color: white;
}

nav div {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

nav h1 span {
    font-weight: 500;
}

nav a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
}

nav a p {
    color: rgba(0, 0, 0, 0.6);
    transition: color 150ms ease-in-out;
    font-family: 'Poppins', sans-serif;
}

nav a:hover p {
    color: black;
}

nav a svg {
    color: rgba(0, 0, 0, 0.7);
    transition: color 150ms ease-in-out;
}

nav a:hover svg {
    color: black;
}

@media screen and (max-width: 999px) {
    nav {
        bottom: 0;
        padding: 10px;
        border-top: 1px solid #e5e7eb;
    }
}

@media screen and (min-width: 1000px) {
    nav {
        top: 0;
        padding: 10px 50px;
        border-bottom: 1px solid #e5e7eb;
    }
}