* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
}

.container {
  position: relative;
}

.task__container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 681px) {
  .task__container {
    padding: 10px;
  }
}

@media screen and (min-width: 682px) {
  .task__container {
    padding: 70px 10px 20px 10px;
  }
}