* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  position: relative;
}

.task__container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 999px) {
  .task__container {
    padding: 0 10px;
  }
}

@media screen and (min-width: 1000px) {
  .task__container {
    padding-top: 50px;
  }
}